body {
    background-color: #F0F0F0;
    font-family: Poppins, sans-serif;
    color: #12344F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
}

h2 {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
}

h3 {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.page-wrapper {
    font-size: 1rem;
    line-height: 1.5rem;
}

.main-wrapper {
    flex-direction: column;
    align-items: center;
}

.section-hero {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.section-footer {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #020016;
}

.hero-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.hero-01 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 19;
    width: 100%;
    height: auto;
    transform: translate(0px, 2px);
}

.hero-02 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 18;
    width: 100%;
    height: auto;
}

.hero-03 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 17;
    width: 100%;
    height: auto;
}

.hero-04 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 16;
    width: 100%;
    height: auto;
}

.hero-05 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 15;
    width: 100%;
    height: auto;
}

.hero-06 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 14;
    width: 100%;
    height: auto;
}

.hero-07 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 13;
    width: 100%;
    height: auto;
}

.hero-08 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 12;
    width: 100%;
    height: auto;
}

.hero-09 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 11;
    width: 100%;
    height: auto;
}

.hero-10 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100%;
    height: auto;
}

.hero-11 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 9;
    width: 100%;
    height: auto;
}

.hero-12 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 8;
    width: 100%;
    height: auto;
}

.hero-13 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 7;
    width: 100%;
    height: auto;
}

.hero-14 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 6;
    width: 100%;
    height: auto;
}

.hero-15 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 5;
    width: 100%;
    height: auto;
}

.hero-16 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 4;
    width: 100%;
    height: auto;
}

.hero-17 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 3;
    width: 100%;
    height: auto;
}

.hero-18 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 2;
    width: 100%;
    height: auto;
}

.hero-19 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.w-inline-block {
    max-width:100%;
    display:inline-block
}

.grid-2col {
    width: 100%;
    height: auto;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

.grid-2col.gap-large {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
}

.section-content {
    z-index: 1;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: linear-gradient(180deg, #f0f0f0, #bab9b8); */
}

.padding-global {
    width: 100%;
    height: auto;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.padding-large {
    padding: 2rem;
}

.padding-normal {
    padding: 1rem;
}

.heading-content-h1 {
    margin-bottom: 0rem;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
}

.heading-content-h2 {
    margin-bottom: 0rem;
    background-image: url("assets/images/light-mode/clip-bg.png");
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    font-size: 8rem;
    line-height: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading-style-h2 {
    margin-bottom: 0rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.heading-style-h2.color-style-white {
    color: #F0F0F0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container.align-center {
    align-items: center;
    text-align: center;
}

.container.text-align-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.container-wrap {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.text-size-xlarge {
    margin-bottom: 0rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-size-xlarge.color-style-white {
    color: #F0F0F0;
}

.text-size-medium {
    margin-bottom: 0rem;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.tag {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background-color: #12344F;
    color: #BAE0FF;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.tag:hover {
    background-color: #20496a;
    color: #cee7fb;
}

.footer-background {
    position: relative;
    left: auto;
    top: 0%;
    right: auto;
    bottom: 0%;
    z-index: 0;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.container-footer {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.button__magnetic {
    position: relative;
}

.button__magnetic.ghosting {
    display: flex;
    min-height: 64px;
    justify-content: center;
    align-items: center;
    color: #BAE0FF;
}

.button__magnetic.ghost1 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 90;
    margin: 1px;
    border-radius: 32px;
    background-color: #12344F;
    opacity: 0.5;
}

.button__magnetic.ghost2 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 80;
    margin: 1px;
    border-radius: 32px;
    background-color: #205683;
    opacity: 0.5;
}

.button__magnetic.ghost3 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 70;
    margin: 1px;
    border-radius: 32px;
    background-color: #12344F;
    opacity: 0.5;
}

.button__magnetic-content {
    display: flex;
    min-height: 64px;
    padding: 0px 64px;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    color: #12344F;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.button__magnetic-link {
    position: relative;
    z-index: 100;
    overflow: hidden;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
}

.button__magnetic-link.default {
    border: 0px none transparent;
    border-radius: 1000px;
}

.social {
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.social-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fa brands 400', sans-serif;
    color: #e4b3a3;
    font-size: 1.2rem;
    line-height: 1;
}

.icon img {
    position: relative;
    z-index: 3;
    height: 20px;
    width: 20px;
}

.icon-bg {
    position: absolute;
    z-index: -1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F0F0F0;
}

.social__icon-link {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.icon-bg-over {
    position: absolute;
    z-index: 2;
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #BAE0FF;
}